@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root:has(:is(.modal-open, .modal:target, .modal-toggle:checked + .modal, .modal[open])) {
      scrollbar-gutter: revert !important;
    }
  }


@layer utilities {
  .signal {
    --signal: true;
  }
  .signal-scope {
    --signal: false;
  }
}